# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Backend
backend/.env
backend/database/*.db
backend/database/*.db-shm
backend/database/*.db-wal

# Frontend
frontend/node_modules/

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
